<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Happy Anniversary 6M</title>
</head>

<body>
    <div class="card">
        <h1 style="color: #ce7278;">สุขสันต์วันครบรอบ 6 เดือนนะคุณเมีย</h1>
        <br>
        <div class="text">
            <p>
                สำหรับเดือนนี้เค้าอยากจะบอกว่า ขอโทษนะทีเค้าทำตัวงี่เง่าปัญญาอ่อนมากไปอะ
                ขอโทษที่ทำเทอร้องบ่อยๆ ขอบคุณเทอนะค้าบบยังอยุ่ข้างๆเค้า รักเทอนะค้าบ รักมากๆๆๆ รักที่สุดเลยย
                อยู่ค่อยดุเค้า อยุ่ค่อยเตือนเค้าไปนานๆนะค้าบบ รอวันที่เราได้อยุ่ด้วยกันนะค้าบบ จะนอนกอดทุกวันเลยย
                สุดท้ายนี้เค้าอยากบอกว่า สุขสันต์วันครบรอบนะค้าบบ รักเทอออน้าา หวงงงง หึงงงมากๆๆเลยนะค้าบบ
                อยุ่กับเค้าไปนานๆนะค้าบที่รักก
            </p>
            <br>
            <br>
            <p class="muted">- Yuki -</p>
        </div>
        <img src="../img/stiker.gif" alt="ILOVEYOU">
    </div>
    <script src="../js/autoplay.js"></script>
</body>

</html>