@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200&display=swap');

* {
  transition: all 0.2s ease-in-out;
}

body {
  background: url('../img/wallpapper.png');
  background-size: cover;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: #fff;
}

.card {
  background: #fdfdfd;
  border-radius: 4px;
  height: 85vh;
  width: 80vw;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
}

.card h1 {
  padding-bottom: 0.1em;
  font-family: 'Anuphan', sans-serif;
}

.card img {
  margin: 10px 10px 10px 10px;
  width: 300px;
  height: 300px;
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: row-reverse;
  }

  .card {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

@media only screen and (max-height: 640px) {
  .card {
    flex-direction: row-reverse;
  }

  .card {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

.text {
  text-align: left;
  font-family: 'Anuphan', sans-serif;
  color: #ce7278;
  font-size: 23px;
  font-weight: bold;
}
.text p {
  padding-left: 20px;
  padding-right: 20px;
}

.muted {
  opacity: 0.8;
  text-align: center;
}

.space {
  height: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body.play-music {
  animation: fadeIn 2s ease-in-out;
  /* Adjust the animation duration and timing function as needed */
}